@if (accessToken$ | async; as accessToken) {

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Ativar barra de navegação lateral"
        class="mr-2"
        matIconButton
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Ícone ativar barra de navegação lateral">menu</mat-icon>
      </button>
      }

      <span class="flex items-center gap-2">
        <mat-icon class="material-icons-outlined">local_hospital</mat-icon>
        <span class="text-xl">OrganizaMed</span>
      </span>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of itensNavbar; track $index) {
      <a mat-list-item [routerLink]="item.link" routerLinkActive="nav-link-active" class="my-1">
        <mat-icon class="material-icons-outlined" matListItemIcon>{{ item.icone }}</mat-icon>
        {{ item.titulo }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Ativar barra de navegação lateral"
        class="mr-2"
        matIconButton
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Ícone ativar barra de navegação lateral">menu</mat-icon>
      </button>

      <span class="flex items-center gap-2">
        <mat-icon class="material-icons-outlined">local_hospital</mat-icon>
        <span class="text-xl">OrganizaMed</span>
      </span>
      }
      <button mat-raised-button [matMenuTriggerFor]="opcoesUsuario" class="ml-auto">
        <mat-icon>person</mat-icon>
        {{ accessToken.usuario.userName }}
      </button>

      <mat-menu #opcoesUsuario="matMenu">
        <button mat-menu-item style="min-width: 160px" (click)="logout()">
          <mat-icon>arrow_backwards</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <svg height="32" width="32" class="relative top-0 right-0">
      <path class="sidenav-svg" d="M 32,0 H -32,0 V 0,32 a 32, 32 0 0, 1 32,-32"></path>
    </svg>

    <!-- Add Content Here -->
    <div class="px-4">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
} @else {
<div class="px-4">
  <ng-content></ng-content>
</div>
}